@import "@radix-ui/themes/styles.css";
* {
  box-sizing: border-box;
  overscroll-behavior: none;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
}
body > div {
  height: 100vh;
}
