.row.tab {
  justify-content: space-around;
}

.tab .item {
  font-weight: bold;
  width: 100%;
}
.tab .item.inactive {
  background-color: #ffffff;
  opacity: 0.5;
}
.tab .item.inactive:hover {
  text-shadow: #747bff 1px 0 10px;
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  .tab .item.inactive {
    background-color: #2f2f2f;
    opacity: 0.5;
  }
}
