.LeftMenuRoot {
  height: 100%;
  display: grid;
  grid-template-rows: auto 2em;
  background-color: var(--accent-3);
}
.MenuContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 2em;
}
.MenuContainer .Item {
  padding: 0 2rem;
  display: inline-flex;
  font-weight: bold;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.MenuContainer .Item.Active {
  text-shadow: var(--accent-9) 1px 0 10px;
  border-left: 2px solid var(--accent-9);
  background-color: var(--color-background);
}
.MenuContainer .Item.Inactive {
  border-left: 2px solid transparent;
}
.MenuContainer .Item.Inactive:hover {
  border-left: 2px solid var(--accent-9);
}
